:root {
  --main-color: #4A5568;
}

.css-1oozzdl {
  border: 2px var(--main-color) solid !important;
  background-color: var(--main-color) !important;
}

.css-1oozzdl:focus-visible, .css-1oozzdl[data-focus-visible] {
  box-shadow: none !important;
}